<div  style=" padding-top: 56px;padding-bottom: 40px;">
<div *ngIf="book_service.cart_books.length>0" class="container" >
    <div class="row" style=" margin-top: 56px;">
        <div class="col-12">
            <div class="big_title">
                List Name
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-8">
            name
        </div>

        <div class="col-2">
            type
        </div>
        <div class="col-1">
            price
        </div>
    </div>

    <div class="row">
        <div class="col-12 divider">

        </div>
    </div>

    <div *ngFor="let item of book_service.cart_books;let i=index" class="row">
        <div class="col-3">
            <img style="height: 250px;width: 190px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;" [src]="item.image"
                alt="">
            <div class="card-text" style="font-size: 14px;">Added 04/12/21</div>
        </div>
        <div class="col-5">
            <div class="big_title">
                {{item.name}}
            </div>

            <span class="author">
                {{item.auteurUsername}}
            </span>
            <span class="card-text">(Author)</span>



            <div style="margin-top: 15px;margin-bottom:15px;display: flex;position: relative;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="#1FA5A3"
                    class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg>
                <div class="available">available</div>
            </div>
        </div>
        <div class="col-2">
            <span *ngFor="let genre of item.genres; let last = last">
                {{genre.name}}{{ !last ? '/' : ''}}
            </span>
        </div>
        <div class="col-1">
            {{item.price}}
        </div>
        <div class="col-1" (click)="deleteItem(i,item.id,item.price)">
            <svg style="margin-bottom: 5px;cursor:pointer" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
            
        </div>
        
            <div class="col-12 divider">
    
            </div>
      
        
    </div>
   
    <div class="row">
        <div class="col-12">
            <div style="float: right;font-size: 20px;">
                Total : <span style="color: #000000; font-family: Marker Felt, fantasy;">{{totale_price}}$$</span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-2">
            <button type="button" class="btn btn-danger btn-block" style="border-radius: 20px;font-size: 16px">continue
                shopping</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-danger btn-block "
                style="border-radius: 20px;font-size: 16x" (click)="makeOrder()">Chek out</button>
        </div>

        <div class="col-2" (click)="emptyCart()">
            <button type="button" class="btn btn-secondary btn-block "
                style="border-radius: 20px;font-size: 16x">Empty cart</button>
        </div>
    </div>

</div>

<div *ngIf="book_service.cart_books.length==0"  class="container-fluid mt-100">
    <div class="row" >
        <div class="col-12   ">
            <div class="card" style="background-color:#F8F9FE ;">
                
                <div class="card-body cart">
                    <div class="col-sm-12  empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Cart is Empty</strong></h3>
                        <h4>Add something to make me happy :)</h4> <a routerLink="/home" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>